body{
    font-family: Adobe Bembo;
    margin: 0;
    background:#2b2b2b;
    color: #e6e6e6;
}

.header {
    display: flex;
    align-items: stretch;
    background: #e03a3e;
}

.logo {
    display: inline;
    text-align: left;
    font-size: 20px;
    padding: 0px 30px;
}

.button {
    display: inline;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    font-family: Adobe Bembo;
}

.semester-dropbtn {
    background-color: #2b2b2b;
    color: #e6e6e6;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}
  
.semester-dropbtn:hover, .semester-dropbtn:focus {
    background-color: #3e3e3e;
}
  
.button semester-dropdown {
    position: relative;
    display: inline-block;
}
  
.semester-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
  
.semester-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all .3s ease;
}
  
.semester-content a:hover {background-color: #b3b3b3}

.show {display:block;}